.fl {
    float: left;
}

.fr {
    float: right;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.style-color {
    color: #c81623!important;
}


/*<!-- shortcut  start -->*/

.shortcut {
    height: 31px;
    background-color: #f1f1f1;
    line-height: 31px;
}

.shortcut .fl li {
    float: left;
    font-size: 12px;
    color: #666666;
    margin-right: 14px;
}

.shortcut .fr li {
    float: left;
    font-size: 12px;
    color: #666666;
}

.fr .spacer {
    width: 1px;
    height: 12px;
    background-color: #666666;
    margin: 9px 16px 0px;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?7kkyc2');
    src: url('../fonts/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?7kkyc2') format('truetype'), url('../fonts/icomoon.woff?7kkyc2') format('woff'), url('../fonts/icomoon.svg?7kkyc2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.shortcut .fr .icon {
    font-family: 'icomoon';
    font-size: 12px;
    color: #666666;
}


/*<!-- shortcut  end -->*/


/*-----------------------------------------------------------*/


/*<!-- header start -->*/

.header {
    position: relative;
    height: 107px;
}

.header .logo a {
    display: block;
    position: absolute;
    top: 24px;
    width: 172px;
    height: 54px;
    background-image: url(../img/logo.png);
}

.header .logo h1 {
    font-size: 0;
}

.header .search {
    position: absolute;
    top: 24px;
    left: 345px;
}

.header .search input {
    width: 445px;
    height: 33px;
    border: 1px solid #b1191a;
    padding-left: 10px;
    color: #666;
    font-size: 14px;
}

.header .search button {
    width: 80px;
    height: 35px;
    border: 1px solid #b1191a;
    background-color: #b1191a;
    color: #fff;
    font-size: 16px;
}

.header .hotwords {
    position: absolute;
    top: 69px;
    left: 345px;
}

.header .hotwords a {
    color: #666;
    font-size: 12px;
    margin: 0px 12px;
}

.header .shopping {
    position: absolute;
    top: 24px;
    left: 996px;
    width: 138px;
    height: 35px;
    background-color: #f7f7f7;
    color: #666;
    font-size: 12px;
    line-height: 35px;
    text-align: center;
}

.header .shopping .car {
    font-family: 'icomoon';
    color: #d84b4b;
}

.header .shopping .arr {
    font-family: 'icomoon';
    color: #a3a3a3;
    line-height: 35px;
    font-size: 12px;
}

.header .shopping .count {
    position: absolute;
    top: -1px;
    left: 105px;
    background-color: #e60012;
    height: 14px;
    padding: 0 4px;
    line-height: 14px;
    border-radius: 7px 7px 7px 0;
    color: #fefefe;
    font-size: 12px;
}


/*	<!-- header end -->*/


/*-----------------------------------------------------------*/


/*<!-- nav start -->*/

.nav {
    height: 45px;
    border-bottom: 2px solid #b1191a;
}

.dt {
    width: 209px;
    height: 47px;
    color: #fff;
    font-size: 16px;
    line-height: 47px;
    text-align: center;
    background-color: #b1191a;
}

.dl {
    display: block;
    width: 207px;
    height: 467px;
    background-color: #c81623;
    border-left: 2px solid #c81623;
}

.dl li {
    width: 189px;
    height: 21px;
    padding: 10px 10px 0 10px;
}

.dl li:hover {
    background-color: #fff;
}

.dl li:hover a {
    color: #c81623;
}

.menu_item,
.menu_item_left {
    font-size: 14px;
    color: #fff;
}

.menu_item {
    float: left;
}

.menu_item_left {
    font-family: 'icomoon';
    float: right;
}

.navitems {
    margin-left: 10px;
}

.navitems ul li {
    float: left;
    height: 45px;
    line-height: 45px;
    padding: 0 15px 0 30px;
    font-size: 16px;
    color: #333;
}


/*<!-- nav end -->*/


/*-----------------------------------------------------------*/


/*<!-- footer start -->*/

.footer {
    height: 388px;
    background-color: #f5f5f5;
    padding-top: 30px;
}

.mod_service {
    height: 80px;
}

.mod_service li {
    float: left;
    width: 206px;
    height: 80px;
    padding-left: 34px;
}

.mod_service_pic {
    float: left;
    width: 50px;
    height: 50px;
    background: url(../img/icons.png) no-repeat;
}

.piczheng {
    background-position: -252px -3px;
}

.picsu {
    background-position: -255px -53px;
}

.say {
    float: left;
    margin-left: 7px;
    font-size: 14px;
}

.mod_help_item {
    height: 186px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}

.mod_help_item a {
    cursor: pointer;
}

.mod_help_item dl {
    padding: 24px 0 0 50px;
    float: left;
    width: 150px;
}

.mod_help_item dl dt {
    color: #333333;
    font-size: 16px;
}

.mod_help_item dl dd {
    color: #666;
    font-size: 12px;
}

.mod_help_item dl img {
    margin: 8px 0 5px -14px;
    width: 96px;
    height: 96px;
}

.a1 {
    margin-top: 20px;
    text-align: center;
    line-height: 30px;
}

.a2 {
    text-align: center;
    line-height: 20px;
}


/*<!-- footer end -->*/